<a href="https://colab.research.google.com/github/DiegoMacielDM/EstatisticaParaDataScience/blob/main/Amostragem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#importando bibliotecas Pythons
import pandas as pd
import random
import numpy as np

In [2]:
#importando o DataSet
df = pd.read_csv("/content/census.csv")

In [3]:
#informações do DF
df.shape

(32561, 15)

In [4]:
#Visualizando os 5 primeiros registro
df.head()

   age          workclass  final-weight  ... hour-per-week  native-country  income
0   39          State-gov         77516  ...            40   United-States   <=50K
1   50   Self-emp-not-inc         83311  ...            13   United-States   <=50K
2   38            Private        215646  ...            40   United-States   <=50K
3   53            Private        234721  ...            40   United-States   <=50K
4   28            Private        338409  ...            40            Cuba   <=50K

[5 rows x 15 columns]

## Fazendo amostragem aleatória simples

In [22]:
#criando o Dataset da amostragem simples
#O random_state serve para que a amostragem selecionada seja a mesma toda vez que você atualizar.
df_amostra_aleatorio_simples = df.sample(n = 100, random_state=1)

In [7]:
#Informações do novo DataSet
df_amostra_aleatorio_simples.shape

(100, 15)

In [23]:
#Visualizando o novo Dataset
df_amostra_aleatorio_simples.head()

       age          workclass  ...  native-country  income
30177   22            Private  ...   United-States   <=50K
15795   50   Self-emp-not-inc  ...   United-States   <=50K
11206   54        Federal-gov  ...   United-States   <=50K
16461   58            Private  ...   United-States   <=50K
31043   72                  ?  ...   United-States   <=50K

[5 rows x 15 columns]

In [24]:
#Função para amostragem
def amostragem_aleatoria_simples(df, amostras):
  return df.sample(n = amostras, random_state=1)

In [18]:
#Criando um DataSet de amostragem simples utilizando a função
df_amostra_aleatorio_simples = amostragem_aleatoria_simples(df, 100)
#Informações do novo DataSet
df_amostra_aleatorio_simples.shape

(100, 15)

In [25]:
#Visualizando o novo Dataset
df_amostra_aleatorio_simples.head()

       age          workclass  ...  native-country  income
30177   22            Private  ...   United-States   <=50K
15795   50   Self-emp-not-inc  ...   United-States   <=50K
11206   54        Federal-gov  ...   United-States   <=50K
16461   58            Private  ...   United-States   <=50K
31043   72                  ?  ...   United-States   <=50K

[5 rows x 15 columns]