<a href="https://colab.research.google.com/github/DiegoMacielDM/EstatisticaParaDataScience/blob/main/ExercicioEstatistica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#importando bibliotecas Pythons
import pandas as pd
import random
import numpy as np

In [2]:
#importando o DataSet
df = pd.read_csv("/content/credit_data.csv")

In [3]:
#informações do DF
df.shape

(2000, 5)

In [4]:
#Visualizando os 5 primeiros registro
df.head()

   i#clientid        income        age         loan  c#default
0           1  66155.925095  59.017015  8106.532131          0
1           2  34415.153966  48.117153  6564.745018          0
2           3  57317.170063  63.108049  8020.953296          0
3           4  42709.534201  45.751972  6103.642260          0
4           5  66952.688845  18.584336  8770.099235          1

In [5]:
#Função para amostragem
def amostragem_aleatoria_simples(df, amostras):
  return df.sample(n = amostras, random_state=1)

In [7]:
#Criando um DataSet de amostragem simples utilizando a função
df_amostra_aleatorio_simples = amostragem_aleatoria_simples(df, 1000)
#Informações do novo DataSet
df_amostra_aleatorio_simples.shape

(1000, 5)

In [8]:
#Criando uma função para colher os 100 indices da amostragem sistematica 
def amostragem_sistematica(df, amostras):
  intervalo = len(df) // amostras
  random.seed(1)
  inicio = random.randint(0, intervalo)
  indice = np.arange(inicio, len(df), step = intervalo)
  amostra_sistematica = df.iloc[indice]
  return amostra_sistematica

In [10]:
#Criando um DataSet de amostragem sistematica com a função
df_amostra_sistematica = amostragem_sistematica(df, 1000)
df_amostra_sistematica.head()

   i#clientid        income        age         loan  c#default
0           1  66155.925095  59.017015  8106.532131          0
2           3  57317.170063  63.108049  8020.953296          0
4           5  66952.688845  18.584336  8770.099235          1
6           7  48430.359613  26.809132  5722.581981          0
8           9  40654.892537  55.496853  4755.825280          0

In [11]:
#criando um função grupos para mostrar o dataset - Amostragem por grupo
def  amostragem_agrupamento(df, numero_grupos):
  intervalo = len(df) / numero_grupos
  grupos = []
  id_grupo = 0
  contagem = 0
  for _ in df.iterrows():
    grupos.append(id_grupo)
    contagem += 1
    if contagem > intervalo:
      contagem = 0
      id_grupo+=1

  df['grupo'] = grupos
  random.seed(1)
  grupo_selecionado = random.randint(0, numero_grupos)
  return df[df['grupo'] == grupo_selecionado]

In [12]:
len(df) / 2

1000.0

In [13]:
df_amostra_agrupamento = amostragem_agrupamento(df, 2)
df_amostra_agrupamento.shape,  df_amostra_agrupamento['grupo'].value_counts()

((1001, 6), 0    1001
 Name: grupo, dtype: int64)

In [14]:
#Amostra estratificada
from sklearn.model_selection import StratifiedShuffleSplit

In [15]:
#Analisando a coluna salario
df['c#default'].value_counts()

0    1717
1     283
Name: c#default, dtype: int64

In [19]:
#Criando função para amostra estratificada
def amostragem_estratificada(df, percentual, campo):
  split = StratifiedShuffleSplit(test_size=percentual, random_state=1)
  for _, y in split.split(df, df[campo]):
      df_y = df.iloc[y]
      return df_y

In [20]:
df_amostra_estratificada = amostragem_estratificada(df, 0.5, 'c#default')
df_amostra_estratificada.shape

(1000, 6)

In [21]:
#Criando uma função para amostra de reservatório
def amostragem_reservatorio(df, amostras):
  stream = []
  for i in range(len(df)):
    stream.append(i)

  i = 0
  tamanho = len(df)

  reservatorio = [0] * amostras
  for i in range(amostras):
    reservatorio[i] = stream[i]

  while i < tamanho:
    j = random.randrange(i + 1)
    if j < amostras:
      reservatorio[j] = stream[i]
    i += 1

  return df.iloc[reservatorio]

In [22]:
df_amostragem_reservatorio = amostragem_reservatorio(df, 1000)
df_amostragem_reservatorio.shape

(1000, 6)

## Comparativo dos resultados

In [26]:
df['age'].mean(), df['income'].mean(), df['loan'].mean()

(40.80755937840458, 45331.60001779331, 4444.369694688262)

In [25]:
df_amostra_aleatorio_simples['age'].mean(), df_amostra_aleatorio_simples['income'].mean(), df_amostra_aleatorio_simples['loan'].mean()

(40.49552561124429, 45563.26865376901, 4449.4469004423645)

In [27]:
df_amostra_sistematica['age'].mean(), df_amostra_sistematica['income'].mean(), df_amostra_sistematica['loan'].mean()

(40.91117381141754, 45691.498750669496, 4506.787976426329)

In [28]:
df_amostra_agrupamento['age'].mean(), df_amostra_agrupamento['income'].mean(), df_amostra_agrupamento['loan'].mean()

(41.0432231120503, 44846.749259861404, 4390.1614937442055)

In [29]:
df_amostra_estratificada['age'].mean(), df_amostra_estratificada['income'].mean(), df_amostra_estratificada['loan'].mean()

(41.05890886827544, 45313.28605242311, 4414.497018167078)

In [30]:
df_amostragem_reservatorio['age'].mean(), df_amostragem_reservatorio['income'].mean(), df_amostragem_reservatorio['loan'].mean()

(40.57203708208336, 45111.19429734541, 4429.634971370371)